<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<title>Error 404</title>
</head>
<body>
	<div id="nav">
		<a href="/">
		<img id="pantsInJail" src="/images/pantsInJail.png">
		</a>
	</div>
	<div id="content">
		<table id="note"><tbody><tr><td>
			<img src="http://contactsheet.org/images/ransom/e.gif" width="35" height="40">
			<img src="http://contactsheet.org/images/ransom/r.gif" width="35" height="40">
			<img src="http://contactsheet.org/images/ransom/r.gif" width="35" height="40">
			<img src="http://contactsheet.org/images/ransom/o.gif" width="35" height="40">
			<img src="http://contactsheet.org/images/ransom/r.gif" width="35" height="40">
			<img src="http://contactsheet.org/images/ransom/space.gif" width="35" height="40">
			<img src="http://contactsheet.org/images/ransom/4.gif" width="35" height="40">
			<img src="http://contactsheet.org/images/ransom/0.gif" width="35" height="40">
			<img src="http://contactsheet.org/images/ransom/4.gif" width="35" height="40">
			<img src="http://contactsheet.org/images/ransom/colon.gif" width="35" height="40">
			<img src="http://contactsheet.org/images/ransom/space.gif" width="35" height="40">
			<br>
			<img src="http://contactsheet.org/images/ransom/n.gif" width="35" height="40">
			<img src="http://contactsheet.org/images/ransom/o.gif" width="35" height="40">
			<img src="http://contactsheet.org/images/ransom/space.gif" width="35" height="40">
			<br clear="all"><img src="http://contactsheet.org/images/ransom/p.gif" width="35" height="40">
			<img src="http://contactsheet.org/images/ransom/a.gif" width="35" height="40">
			<img src="http://contactsheet.org/images/ransom/n.gif" width="35" height="40">
			<img src="http://contactsheet.org/images/ransom/t.gif" width="35" height="40">
			<img src="http://contactsheet.org/images/ransom/s.gif" width="35" height="40">
			<img src="http://contactsheet.org/images/ransom/space.gif" width="35" height="40">
			<img src="http://contactsheet.org/images/ransom/h.gif" width="35" height="40">
			<img src="http://contactsheet.org/images/ransom/e.gif" width="35" height="40">
			<img src="http://contactsheet.org/images/ransom/r.gif" width="35" height="40">
			<img src="http://contactsheet.org/images/ransom/e.gif" width="35" height="40">
			<img src="http://contactsheet.org/images/ransom/space.gif" width="35" height="40">
		</td></tr></tbody></table>
		<a href="/findMyPants" class="btn paper paper-raise ">Find My Pants</a>
	</div>

	