<html>
<head>
	
	<link rel="stylesheet" type="text/css" href="/css/findMyPants.css">
	
	<title><%=title%></title>
</head>
<body>
	<div id="nav">
		<a href="/">
			<img id="pantsInJail" src="/images/pantsInJail.png">

		</a>	
	</div>
	<div id="content">
		<div class="center">

			<h1>Found Mystic(ly tight?) Pants!</h1>


		</div>
		<iframe width="100%" height="600" src="https://www.youtube.com/embed/MLUvOtqTmYM" frameborder="0" allowfullscreen></iframe>

	</div>


</div>
</div>


</body>

</html>

