<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<title><%=title%></title>
</head>
<body>
	<div id="nav">
		<a href="/">
			<img id="pantsInJail" src="/images/pantsInJail.png">
		</a>	</div>
		<div id="content">
			<table id="note"><tbody><tr><td>
				<img src="http://contactsheet.org/images/ransom/w.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/e.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/space.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/h.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/a.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/v.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/e.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/space.gif" width="35" height="40">
				<br clear="all"><img src="http://contactsheet.org/images/ransom/k.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/i.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/d.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/n.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/a.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/p.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/p.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/e.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/d.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/space.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/y.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/o.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/u.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/r.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/space.gif" width="35" height="40">
				<br clear="all"><img src="http://contactsheet.org/images/ransom/m.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/y.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/s.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/t.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/i.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/c.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/space.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/p.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/a.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/n.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/t.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/s.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/exclamation.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/space.gif" width="35" height="40">
				<br clear="all"><img src="http://contactsheet.org/images/ransom/i.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/f.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/space.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/y.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/o.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/u.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/space.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/w.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/a.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/n.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/t.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/space.gif" width="35" height="40">
				<br clear="all"><img src="http://contactsheet.org/images/ransom/t.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/o.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/space.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/s.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/e.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/e.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/space.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/t.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/h.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/e.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/m.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/space.gif" width="35" height="40">
				<br clear="all"><img src="http://contactsheet.org/images/ransom/a.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/g.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/a.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/i.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/n.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/space.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/y.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/o.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/u.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/space.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/m.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/u.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/s.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/t.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/space.gif" width="35" height="40">
				<br clear="all"><img src="http://contactsheet.org/images/ransom/u.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/s.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/e.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/space.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/t.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/h.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/i.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/s.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/space.gif" width="35" height="40">
				<br clear="all"><img src="http://contactsheet.org/images/ransom/a.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/p.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/p.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/l.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/i.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/c.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/a.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/t.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/i.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/o.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/n.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/space.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/t.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/o.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/space.gif" width="35" height="40">
				<br clear="all"><img src="http://contactsheet.org/images/ransom/f.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/i.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/n.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/d.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/space.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/t.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/h.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/e.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/m.gif" width="35" height="40">
				<img src="http://contactsheet.org/images/ransom/period.gif" width="35" height="40">
			</td></tr></tbody></table>
			<a href="/findMyPants" class="btn paper paper-raise ">Find My Pants</a>
		</div>

		