body {
	margin: 0;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background: url(../images/bg.jpg) no-repeat;
	background-size: cover;	
}

a {
	color: #00B7FF;
}



h1{
	font-family: 'Dawning of a New Day', cursive;
}



#note{

	margin: auto;
	margin-top: 20px;
}

#pantsInJail{
	display: block;
	margin: auto;
}

#nav{
	background-color: white;
	padding-top: 30px;
	padding-bottom: 30px;
	width: 100%;
}

/* Base Button Style */
.btn {
	position: relative;
	display: block;

	width: 350px;
	margin: 5px auto;
	padding: 20px;

	background-color: #fff;
	border: 1px solid #ccc;

	color: #000;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;


}

/* Paper effect – slightly raised off background */
.paper {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
	border-color: #dedede;
	cursor: pointer;

}

.paper:focus{
	border-color: #dedede;
	outline: 0;
}

.paper-raise:before{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.paper-raise:hover{
	border: 1px solid #fff;
}

.paper-raise:hover:before{
	box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
}

.circle {
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 15px;
	background-color: LightGray;
	float: left;
	margin: 5px;
}

#map {
	height: 500px;
}

.center {
	width: 320px;
	margin: auto;
	text-align: center;
}

#led{
	margin:auto;
}
